.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.connect-b {
  padding-left: 10%;
}
.texty {
  font-family: Poppins;
    font-weight: bold;
  color: white;
  padding-top: 10%;
  margin-left: -43%;
  padding-bottom: 0;
  margin-bottom: 0;
}
.texty2 {
  font-size: 30;
  font-family: Poppins;
  margin-left: -22%;
  margin-top: 0;
  padding-top: 0;
  color: white;
}

.troll {
  padding-left: 50%;
  width: 20vmin;
  height: 20vmin;
}

.mint-rect {
  text-justify: distribute;
  font-family: Poppins;
  margin-top: -3.3%;
  margin-left: 10%;
 width: 75%;
 height: 10%;
  border-radius: 10px;
  background-color: #0006;
  box-shadow: inset 0px 0px 30px 0px #0000004d;
}

.mintedtext {
  font-size: 50;
  padding-top: 4%;
  text-align: center;
}


.incremental {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round-b1 {
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  margin-left: 60px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.round-b1:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.round-b2 {
  margin-right: 90px;
  font-size: 25px;
  font-weight: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  transition-duration: 0.4s;
  cursor: pointer;

}

.round-b2:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.inc-num-div {
  /* text-justify: distribute; */
  
  font-family: Poppins;
  /* margin-top: -16px; */
  /* margin-left: 40px; */
 width: 230px;
 height: 50px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: inset 0px 0px 30px 0px #0000004d;
}

.inc-num {
  font-family: Poppins;
  font-size: 50;
  
  text-align: center;
}

.b {
  font-weight: bold;
  background-color: #9AA032;
  color: white;
  height: 40px;
  width: 350px;
  margin-left: -45px;
  border-radius: 10px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.b:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.te {
  font-family: Poppins;
}

.logos {
  padding-top: 10px;
}
.logo1 {
  padding-left: 10px;
  width: 20px;
  height: 20px;
}

.App-header{
  width: 30rem;
  height: 30rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);
  
  backdrop-filter: blur(5px);
  font-family: Poppins;

}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
